{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashish Subedi - Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/NavigationBar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Portfolio.css' %}"/>
    <script src="{% static 'javascript/navigation_bar.js' %}" type="text/javascript">


    </script>
    <script src="{% static 'javascript/Portfolio.js' %}" type="text/javascript">

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">

    </script>
    <script type="text/javascript">

        function getData(){

            $(document).ready(function(){

                var PC = document.getElementsByClassName('PS_Cat');

                for(let j = 0; j < PC.length; j++){

                    $(PC[j]).on("click", function(e){

                        e.preventDefault();
                        $.ajax({
                            type: 'GET',
                            url: 'PortfolioShow/',
                            data: {
                                Portfolio_Category: PC[j].id,
                            },
                            dataType: 'json',
                            success: function(html){
                                $('div#Portfolio_List').html('');
                                for (let i = 0; i < html.Total; i++){
                                    if(html.Github[i] == "No Link"){
                                        $('div#Portfolio_List').append('<div class="Portfolio_Details_Box"><center><hea>'+html.Title[i]+'</hea><br/><lan>'+html.Language[i]+'</lan><br/><div class="Get_Btn">No Link</div></center></div>');
                                    }
                                    else{
                                        $('div#Portfolio_List').append('<div class="Portfolio_Details_Box"><center><hea>'+html.Title[i]+'</hea><br/><lan>'+html.Language[i]+'</lan><br/><a href="'+html.Github[i]+'"><div class="Get_Btn">Get</div></a></center></div>');
                                    }
                                }
                            }
                        });

                    });
                }
            });
        }


        function Header_Selection(){

            var PC = document.getElementsByClassName('PS_Cat');
            for(let i=0;i<PC.length;i++) {
                PC[i].onclick = function() {
                    for(let j = 0; j < PC.length; j++) {
                        PC[j].classList.remove('active');
                        PC[j].classList.add('initial_active');
                    }
                    PC[i].classList.remove('initial_active');
                    PC[i].classList.add('active');
                }
            }

            getData();
        }

        // Getting web development

        function Get_Web_Development(){
            $(document).ready(function(){
                $.ajax({
                    type: 'GET',
                    url: 'PortfolioShow/',
                    data:{
                        Portfolio_Category: 'Website',
                    },
                    dataType: 'json',
                        success: function(html){
                            $('div#Portfolio_List').html('');
                            for (let i = 0; i < html.Total; i++){
                                if(html.Github[i] == "No Link"){
                                    $('div#Portfolio_List').append('<div class="Portfolio_Details_Box"><center><hea>'+html.Title[i]+'</hea><br/><lan>'+html.Language[i]+'</lan><br/><div class="Get_Btn">No Link</div></center></div>');
                                }
                                else{
                                    $('div#Portfolio_List').append('<div class="Portfolio_Details_Box"><center><hea>'+html.Title[i]+'</hea><br/><lan>'+html.Language[i]+'</lan><br/><a href="'+html.Github[i]+'"><div class="Get_Btn">Get</div></a></center></div>');
                                }
                            }
                        }
                });
            });
        }

        // Selecting first category
        function Header_First(){
            var PC = document.getElementsByClassName("PS_Cat");
            PC[0].classList.add('active');

            for(let i = 1; i < PC.length; i++){
                PC[i].classList.add('initial_active');
            }

            Get_Web_Development();
        }

    </script>
</head>
<body onload="navBarColor(); Header_First();">
    <div id="container">
        {% include 'NavigationBar/index.html' %}
        <div id="Portfolio_Main_Content">
            <div id="Portfolio_Category_Box">
                <div id="Portfolio_Category">
                    <div class="PS_Cat" id="Website" onClick="Header_Selection()">
                        Web Development
                    </div>
                    <div class="PS_Cat" id="Machine Learning" onClick="Header_Selection()">
                        Machine Learning
                    </div>
                    <div class="PS_Cat" id="MobileApp" onClick="Header_Selection()">
                        Mobile App Development
                    </div>
                    <div class="PS_Cat" id="Article Writing" onClick="Header_Selection()">
                        Article Writing
                    </div>
                    <div class="PS_Cat" id="Other" onClick="Header_Selection()">
                        Others
                    </div>
                </div>
                <div id="Portfolio_List">

                </div>
            </div>
        </div>
    </div>
</body>
</html>