#container #Portfolio_Main_Content{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
    top: 10%;
    left: 0%;
    background-image:linear-gradient(to left, #EBF5FB, white, #EBF5FB);
}

#container #Portfolio_Main_Content #Portfolio_Category_Box{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 60%;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_Category{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50%;
    animation: bigger 3s forwards;
    opacity: 0;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_Category .PS_Cat{
    position: relative;
    margin-left: 5%;
    font-family: sans-serif;
    left: -2.5%;
    cursor: pointer;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_List{
    flex: 6;
    overflow-y: auto;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_List .Portfolio_Details_Box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 7%;
    height: 25%;
    width: 40%;
    float: left;
    background-image: linear-gradient(to left, transparent 99%, #3498DB 1%);
    opacity: 0;
    animation: appear 5s forwards;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_List .Portfolio_Details_Box hea{
    color: #3498DB;
    font-size: 130%;
    font-family: Trebuchet MS;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_List .Portfolio_Details_Box lan{
    color: #5D6D7E;
    font-family: sans-serif;
}

#container #Portfolio_Main_Content #Portfolio_Category_Box #Portfolio_List .Portfolio_Details_Box .Get_Btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border-radius: 5px;
    cursor: pointer;
    color: #5D6D7E;
    font-family: sans-serif;
    background-color: #E5E8E8;
    margin-top: 2%;
}

.active{
    color: #3498DB;
}

.initial_active{
    color: #AEB6BF;
}

@keyframes appear{
    from {opacity: 0;}
    to{opacity: 1;}
}

@keyframes bigger{
    from { font-size: 50%; opacity: 0;}
    to{font-size: 105%; opacity: 1;}
}


