{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashish Subedi</title>
    <link rel="stylesheet" href="{% static 'css/Skills.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/NavigationBar.css'%}"/>
    <script src="{% static 'javascript/navigation_bar.js' %}">

    </script>
    <script type="text/javascript">
        function Animate_Icons(){
            var SS = document.getElementsByClassName("Specific_Skill");
            for(i = 0; i < SS.length; i++){
                SS[i].classList.add('Animate');
            }
        }

    </script>
</head>
<body onload="navBarColor(); Animate_Icons();">
<div id="container">
    {% include "NavigationBar/index.html" %}
    <div id="main_content">
        <div id="Experience_Header">
            <div id="Header_Box">
                <center>OVER 3 YEARS OF <br/>EXPERIENCE</center>
            </div>
        </div>
        <div id="Skills_Icon">
            <div id="Icons_Name">
                <div id="Programming_Skill" class="Specific_Skill">
                    <div class="Specific_Icon">
                        <img src="{% static 'images/Programming_Development.jpg' %}"/>
                    </div>
                    <div class="Specific_Name">
                        Programming
                    </div>
                </div>
                <div id="Web_Skill" class="Specific_Skill">
                    <div class="Specific_Icon">
                        <img src="{% static 'images/Web_Development.png' %}"/>
                    </div>
                    <div class="Specific_Name">
                        Web Development
                    </div>
                </div>
                <div id="AI_Skill" class="Specific_Skill">
                    <div class="Specific_Icon">
                        <img src="{% static 'images/Artificial_Development.png' %}"/>
                    </div>
                    <div class="Specific_Name">
                        Machine Learning
                    </div>

                </div>
                <div id="Mobile_Skill" class="Specific_Skill">
                    <div class="Specific_Icon">
                        <img src="{% static 'images/Mobile_Development.jpg' %}"/>
                    </div>
                    <div class="Specific_Name">
                        Mobile App Development

                    </div>

                </div>
                <div id="Writing_Skill" class="Specific_Skill">
                    <div class="Specific_Icon">
                        <img src="{% static 'images/Article_Development.png' %}"/>
                    </div>
                    <div class="Specific_Name">
                        Article Writing

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>