#container #Education_Main_Content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 0%;
    height: 90%;
    width: 100%;
    background-image:linear-gradient(to left, #EBF5FB, white, #EBF5FB);
}

#container #Education_Main_Content #Education_History_Box{
    position: relative;
    display:flex;
    flex-direction: column;
    width: 60%;
    height: 90%;
}

#container #Education_Main_Content #Education_History_Box #Education_Header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    font-family: Georgia, serif;
    font-size: 50%;
    color:#808B96;
    animation: Bigger 3s forwards;
}


#container #Education_Main_Content #Education_History_Box .Edu_History{
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: row;
}

#container #Education_Main_Content #Education_History_Box .Edu_History .Institute{
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: #85929E;
    animation: appear 3s forwards;
}

#container #Education_Main_Content #Education_History_Box .Edu_History .Institute inst{
    position: relative;
    color: #3498DB;
    font-size: 130%;
    font-family: Trebuchet MS;
}

#container #Education_Main_Content #Education_History_Box .Edu_History .Time{
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 130%;
    font-family: sans-serif;
    color: #85929E;
    animation: appear 5s forwards;
}


.right{
    background-image: linear-gradient(to right, white 99.5%, #3498DB 0.5%);
}

.left{
    background-image: linear-gradient(to right, white 99.5%, #ABB2B9 0.5%);
}

@keyframes appear{
    from {opacity: 0;}
    to{opacity: 1;}
}

@keyframes Bigger{
    from {font-size: 50%;}
    to{font-size: 200%;}
}