
#container #Navigation_Bar{
    position: fixed;
    display: flex;
    height: 6%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #2C3E50;
    font-family: sans-serif;
    font-size: 90%;
    z-index: 1;
}

#container #Navigation_Bar #Categories{
    position: relative;
    height: 100%;
    left: 15%;
    width: 70%;
    background-color: #2C3E50;
}

#container #Navigation_Bar #Categories div{
    position:relative;
    display: table-cell;
    float: left;
    height: 100%;
    margin-left: 8%;
    background-color: #2C3E50;
    color: white;
    vertical-align: middle;
    font-weight: 100;
    cursor: pointer;
}