{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashish Subedi - About Me</title>
    <link rel="stylesheet" href="{% static 'css/NavigationBar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/AboutMe.css' %}"/>
    <script src="{% static 'javascript/navigation_bar.js' %}">

    </script>

    <script type = "text/javascript">
        function Show_Favourites(){

            var spf = document.getElementsByClassName('Specific_Favourites');
            for(let i=0;i<spf.length;i++) {
                spf[i].onclick = function() {
                    for(let j = 0; j < spf.length; j++) {
                        spf[j].classList.remove('active');
                    }
                    spf[i].classList.add('active');
                }
            }
        }


    </script>
</head>
<body onload="navBarColor()">
    <div id="container">
        {% include 'NavigationBar/index.html' %}
        <div id="My_Favourites">
            <div id="Favourites_List">
                <div id="Favourites_Header">
                    <span>My Favourites</span>
                </div>
                <div id="Favourites_Specific_List">
                    <div id="Movies" class="Specific_Favourites active" onClick="Show_Favourites()">
                        <span>Movies</span>

                    </div>
                    <div id="Books" class="Specific_Favourites" onClick="Show_Favourites()">
                        <span>Books</span>
                    </div>
                    <div id="Games" class="Specific_Favourites" onClick="Show_Favourites()">
                        <span>Games</span>
                    </div>
                    <div id="Music" class="Specific_Favourites" onClick="Show_Favourites()">
                        <span>Music</span>
                    </div>
                    <div id="TV_Programs" class="Specific_Favourites" onClick="Show_Favourites()">
                        <span>TV Programs</span>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>