{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ashish Subedi - Education</title>
    <link rel="stylesheet" href="{% static 'css/NavigationBar.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/Education/Education.css' %}"/>
    <script src="{% static 'javascript/navigation_bar.js' %}">

    </script>
    <script type="text/javascript">
    </script>
</head>
<body onload="navBarColor()">
    <div id="container">
        {% include 'NavigationBar/index.html' %}
        <div id="Education_Main_Content">
            <div id="Education_History_Box">
                <div id="Education_Header">
                    EDUCATION HISTORY
                </div>
                <div id="Education_Undergraduate" class="Edu_History">
                    <div class="Institute">
                        <center><inst>Kathmandu University</inst><br/>
                            BE Computer Engineering</center>
                    </div>
                    <div class="Time">
                        <tim>
                            2015 A.D - Present
                        </tim>
                    </div>
                </div>
                <div id="Education_Plus_Two" class="Edu_History">
                    <div class="Time">
                        <tim>
                            2013 A.D - 2015 A.D
                        </tim>
                    </div>
                    <div class="Institute">
                        <center>
                            <inst>Trinity International College</inst><br/>
                            HSEB, Science
                        </center>
                    </div>
                </div>
                <div id="Education_School" class="Edu_History">
                    <div class="Institute">
                        <center>
                            <inst>Panga Secondary Boarding School</inst><br/>
                            SLC, Computer Science
                        </center>
                    </div>
                    <div class="Time">
                        <tim>
                            2000 A.D - 2013 A.D
                        </tim>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>