<div id="Navigation_Bar">
        <div id="Categories">
            <div id="Home" class="Category" onClick="Go_HomePage()">
                Home
            </div>
            <div id="Skills" class="Category" onClick="Go_Skills()">
                Skills
            </div>

            <div id="Experience" class="Category" onClick="Go_Experience()">
                Experience
            </div>

            <div id="Education" class="Category" onClick="Go_Education()">
                Education
            </div>

            <div id="Portfolio" class="Category" onClick="Go_Portfolio()">
                Portfolio
            </div>
            <div id="Blog" class="Category" onClick="Go_Blog()">
                Blog
            </div>
        </div>
    </div>