<div id="Navigation_Bar">
        <div id="Categories">
            <div id="Home" class="Category">
                <p>Home</p>
            </div>

            <div id="About Me" class="Category">
                <p>About Me</p>
            </div>

            <div id="Skills" class="Category">
                <p>Skills</p>
            </div>

            <div id="Experience" class="Category">
                <p>Experience</p>
            </div>

            <div id="Education">
                <p>Education</p>
            </div>

            <div id="Portfolio">
                <p>Portfolio</p>
            </div>

            <div id="Blog">
                <p>Blog</p>
            </div>
        </div>
    </div>